:root {
    --white: #FFFFF0;
    --bronze: #625834;
    --darkbyz: #523249;
    --terracotta: #EC7357;
    --deepspacesparkle: #416165;
    --borderWidth: 3px;
    --openSans: 'Open Sans', sans-serif;
}

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

.info-para {
    padding: 5px;
    margin: 5px;
    font-family: var(--openSans);
    color: var(--white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: var(--deepspacesparkle);
    border-bottom: solid var(--white) 5px;
}

li {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    font-family: var(--openSans);
    border: solid var(--borderWidth);
    width: fit-content;
}

#name-head {
    font-family: var(--openSans);
    font-size: 2.5em;
    color: var(--terracotta);
    font-weight: 500;
}

#header {
    width: 20vw;
    justify-self: center;
}

.links {
    text-decoration: none;
    list-style-type: none;
    width: 30vw;
    flex-wrap: wrap;
}

.links li:hover {
    animation: pulse 1.5s ease-in-out;
    cursor: pointer;
}

.local {
    display: flex;
    justify-content: space-between;
}

.external {
    display: flex;
    justify-content: flex-end;
}

a:link li {
    background-color: var(--darkbyz);
    border-color: var(--bronze);
    text-decoration: none;
    color: black;
}

a:visited li {
    background-color: var(--darkbyz);
    border-color: var(--bronze);
    text-decoration: none;
    color: black;
}

.local li {
    background-color: var(--darkbyz);
    border-color: var(--bronze);
}

.external li {
    align-content: flex-end;
    justify-content: flex-end;
    background-color: var(--darkbyz);
    border-color: var(--bronze);
}

#box {
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    width: 47px;
    height: 32px;
    text-align: center;
    ;
}

#css-button {
    border-color: var(-bronze);
    background-color: var(--darkbyz);
    width: 52px;
    height: 32px;
    align-self: flex-start;
}

.gradient-border {
    --borderWidth: 3px;
    background: var(--darkbyz);
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

#me-pic {
    height: 98%;
    width: 99%;
}

#info-border {
    border: 5px double var(--darkbyz);
    grid-area: 3/8/10/12;
}

#me-border {
    display: block;
    border: 5px ridge var(--darkbyz);
    grid-area: 3/2/10/6;
    z-index: 5;
}

#outer-me-border {
    border: 10px ridge var(--bronze);
    grid-area: 3/2/10/6;
    z-index: 5;
}

.rolling-pin {
    border: 5px ridge var(--bronze);
    color: var(--terracotta);
    background-color: var(--white);
    grid-area: 1/3/2/9;
    z-index: 5;
    overflow: hidden;
    border-radius: 10px;
}

.line {
    text-align: center;
    line-height: 50px;
}

.line:first-child {
    animation: roll 24s infinite;
}

.didyouknow {
    color: gray;
    text-decoration: var(--terracotta) wavy underline;
}

@keyframes roll {
    0% {
        margin-top: 0px;
    }

    10% {
        margin-top: -50px;
    }

    20% {
        margin-top: -100px;
    }

    30% {
        margin-top: -150px;
    }

    40% {
        margin-top: -200px;
    }

    50% {
        margin-top: -250px;
    }

    60% {
        margin-top: -300px;
    }

    70% {
        margin-top: -350px;
    }

    80% {
        margin-top: -400px;
    }

    90% {
        margin-top: -450px;
    }

    100% {
        margin-top: -500px;
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}