/* Used for rainbow gradient tag */
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Used for rolling-pin banner */
@keyframes roll {
    0% {
        margin-top: 0px;
    }

    8% {
        margin-top: -60px;
    }

    16% {
        margin-top: -120px;
    }

    24% {
        margin-top: -180px;
    }

    32% {
        margin-top: -240px;
    }

    40% {
        margin-top: -300px;
    }

    48% {
        margin-top: -360px;
    }

    56% {
        margin-top: -420px;
    }

    64% {
        margin-top: -480px;
    }

    72% {
        margin-top: -540px;
    }

    80% {
        margin-top: -540px;
    }

    84% {
        margin-top: -480px;
    }

    88% {
        margin-top: -360px;
    }

    92% {
        margin-top: -240px;
    }

    96% {
        margin-top: -120px;
    }

    100% {
        margin-top: 0px;
    }
}

/* Used for enlarging clickable icons */
@keyframes pulse {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}