.table-photo {
    height: 100px;
    width: 300px;
}

.description {
    width: 70%;
}

.a-link {
    text-decoration: none;
    color: var(--terracotta);
    background-color: var(--deepspacesparkle);
    font-family: var(--dancingScript);
}

.a-link:hover {
    text-decoration: underline;
}

.b-link {
    border-radius: 25px;
}